* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
    font-family: monospace;
    letter-spacing: 2px;
    transition: 0.4s ease all;

}

.container {
    max-width: 90%; /* Adjust max-width as needed */
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
}

.item__img {
    max-width: 100%; /* Ensure images are responsive */
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Responsive grid layout */
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    border-radius: 50px;
    background: rgb(0, 252, 255);
    background: linear-gradient(45deg, rgba(0, 252, 255, 1) 0%, rgba(181, 255, 0, 1) 100%);
    box-shadow: 8px -8px 30px #00d4ff, -8px 8px 30px #090979;
    padding: 18px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Add hover effect */
}

.counter__title {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.pointClass {
    position: absolute;
    transition: 0.4s all ease;
    text-align: center;
    color: white;
    display: none;
    right: 50%;
    transform: translateX(50%);
    bottom: 5vh;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes moveUpDown {
    0% {
        bottom: -5vh;
    }
    50% {
        bottom: 5vh;
    }
    100% {
        bottom: -5vh;
    }
}

@media only screen and (max-width: 800px) {
    .card {
        max-width: 80%;
    }
}

@media only screen and (max-width: 645px) {
    .card{
        max-width: 60%;
    }

    .list{
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr)); /* Responsive grid layout */
    }
}
